In [3]:
import pandas as pd

df = pd.read_json('././303.json')
df

             car_name            sub_name quentity
0                 그랜저             가솔린 2.4   48,572
1                 그랜저             가솔린 3.0   35,800
2                 그랜저             LPG 3.0   25,221
3                 그랜저              디젤 2.2    8,309
4                 그랜저             가솔린 3.3    1,616
..                ...                 ...      ...
86  쏘나타 뉴 라이즈 plug-in  가솔린 2.0 플러그인 하이브리드       21
87            더 뉴 i30             1.6 DSL       13
88            더 뉴 i30             1.6 DSL       13
89       아이오닉 plug-in            1.6 PHEV        5
90       아이오닉 plug-in            1.6 PHEV        5

[91 rows x 3 columns]