## 미니 ##

In [1]:
import os
import pandas as pd

### 파일 불러오기 ###

In [2]:
df0 = pd.read_csv('C:\\Users\\웍스컴바인\\Desktop\\work\\data_analysis\\DanawaCrawler\\crawl_result\\json\\europe6\\csv파일/19.csv', encoding='utf-8')
df0
# 2017

    Unnamed: 0     car_name             sub_name quentity
0            0        Hatch               Cooper    1,248
1            1        Hatch     Cooper five-door    1,245
2            2        Hatch             Cooper D      892
3            3        Hatch   Cooper D five-door      887
4            4        Hatch    John Cooper Works      243
5            5        Hatch             Cooper S      202
6            6        Hatch   Cooper S five-door      162
7            7        Hatch            Cooper SD       69
8            8        Hatch  Cooper SD five-door       55
9            9        Hatch  Cooper SD five-door       55
10          10   Countryman        Cooper D ALL4    1,289
11          11   Countryman             Cooper D      877
12          12   Countryman       Cooper SD ALL4      114
13          13   Countryman       Cooper SD ALL4      114
14          14      Clubman           1.5 Cooper    1,010
15          15      Clubman         2.0 Cooper D      991
16          16      Clubman         2.0 Cooper S      207
17          17      Clubman        2.0 Cooper SD       19
18          18      Clubman        2.0 Cooper SD       19
19          19  Convertible             Cooper S      223
20          20  Convertible               Cooper      182
21          21  Convertible               Cooper      182
22          22   Countryman        Cooper D ALL4       97
23          23   Countryman        Cooper D ALL4       97

In [3]:
df1 = pd.read_csv('C:\\Users\\웍스컴바인\\Desktop\\work\\data_analysis\\DanawaCrawler\\crawl_result\\json\\europe6\\csv파일/20.csv', encoding='utf-8')
df1
# 2018

    Unnamed: 0     car_name                sub_name quentity
0            0        Hatch        Cooper five-door    1,530
1            1        Hatch                  Cooper    1,302
2            2        Hatch      Cooper D five-door      580
3            3        Hatch                Cooper D      470
4            4        Hatch                Cooper S      242
5            5        Hatch      Cooper S five-door      203
6            6        Hatch       John Cooper Works      182
7            7        Hatch     Cooper SD five-door       31
8            8        Hatch               Cooper SD       17
9            9        Hatch               Cooper SD       17
10          10      Clubman              1.5 Cooper    1,763
11          11      Clubman            2.0 Cooper D      401
12          12      Clubman            2.0 Cooper S      208
13          13      Clubman   2.0 John Cooper Works       32
14          14      Clubman           2.0 Cooper SD       20
15          15      Clubman           2.0 Cooper SD       20
16          16   Countryman           Cooper D ALL4    1,084
17          17   Countryman                  Cooper      658
18          18   Countryman                Cooper D      329
19          19   Countryman           Cooper S ALL4      135
20          20   Countryman  John Cooper Works ALL4       49
21          21   Countryman          Cooper SD ALL4       44
22          22   Countryman          Cooper SD ALL4       44
23          23  Convertible                Cooper S      235
24          24  Convertible                  Cooper      210
25          25  Convertible       John Cooper Works       38
26          26  Convertible       John Cooper Works       38

In [4]:
df2 = pd.read_csv('C:\\Users\\웍스컴바인\\Desktop\\work\\data_analysis\\DanawaCrawler\\crawl_result\\json\\europe6\\csv파일/21.csv', encoding='utf-8')
df2
# 2019

    Unnamed: 0     car_name                sub_name quentity
0            0        Hatch        Cooper five-door    2,216
1            1        Hatch                  Cooper    1,702
2            2        Hatch                Cooper S      362
3            3        Hatch      Cooper D five-door      326
4            4        Hatch                Cooper D      319
5            5        Hatch      Cooper S five-door      310
6            6        Hatch       John Cooper Works      197
7            7        Hatch               Cooper SD       22
8            8        Hatch     Cooper SD five-door       20
9            9        Hatch     Cooper SD five-door       20
10          10   Countryman                  Cooper    1,532
11          11   Countryman           Cooper D ALL4      508
12          12   Countryman           Cooper S ALL4      251
13          13   Countryman  John Cooper Works ALL4       73
14          14   Countryman          Cooper SD ALL4       37
15          15   Countryman          Cooper SD ALL4       37
16          16      Clubman              1.5 Cooper    1,077
17          17      Clubman            2.0 Cooper D      419
18          18      Clubman            2.0 Cooper S      192
19          19      Clubman   2.0 John Cooper Works       39
20          20      Clubman           2.0 Cooper SD       13
21          21      Clubman           2.0 Cooper SD       13
22          22      Clubman                  Cooper      565
23          23      Clubman                Cooper S       67
24          24      Clubman                Cooper D       42
25          25      Clubman               Cooper SD        7
26          26      Clubman               Cooper SD        7
27          27  Convertible                Cooper S      230
28          28  Convertible                  Cooper      136
29          29  Convertible       John Cooper Works       85
30          30  Convertible       John Cooper Works       85

In [5]:
df3 = pd.read_csv('C:\\Users\\웍스컴바인\\Desktop\\work\\data_analysis\\DanawaCrawler\\crawl_result\\json\\europe6\\csv파일/22.csv', encoding='utf-8')
df3
# 2020

Empty DataFrame
Columns: [Unnamed: 0]
Index: []

In [6]:
df4 = pd.read_csv('C:\\Users\\웍스컴바인\\Desktop\\work\\data_analysis\\DanawaCrawler\\crawl_result\\json\\europe6\\csv파일/23.csv', encoding='utf-8')
df4
# 2021

    Unnamed: 0     car_name                sub_name quentity
0            0        Hatch        Cooper five-door    1,100
1            1        Hatch                  Cooper      738
2            2        Hatch                Cooper S      131
3            3        Hatch      Cooper S five-door      129
4            4        Hatch       John Cooper Works      119
5            5        Hatch       John Cooper Works      119
6            6   Countryman                  Cooper      951
7            7   Countryman           Cooper S ALL4      198
8            8   Countryman           Cooper D ALL4      169
9            9   Countryman  John Cooper Works ALL4       61
10          10   Countryman          Cooper SD ALL4       32
11          11   Countryman          Cooper SD ALL4       32
12          12      Clubman                  Cooper      938
13          13      Clubman                Cooper S      130
14          14      Clubman                Cooper D       76
15          15      Clubman  John Cooper Works ALL4       74
16          16      Clubman               Cooper SD        6
17          17      Clubman               Cooper SD        6
18          18  Convertible                Cooper S       62
19          19  Convertible       John Cooper Works       41
20          20  Convertible                  Cooper       22
21          21  Convertible                  Cooper       22

In [7]:
# 컬럼명변경
df0 = df0.rename({'Unnamed: 0': 'year'}, axis=1)
df1 = df1.rename({'Unnamed: 0': 'year'}, axis=1)
df2 = df2.rename({'Unnamed: 0': 'year'}, axis=1)
df3 = df3.rename({'Unnamed: 0': 'year'}, axis=1)
df4 = df4.rename({'Unnamed: 0': 'year'}, axis=1)

In [8]:
df0["year"]=2017
df1["year"]=2018
df2["year"]=2019
df3["year"]=2020
df4["year"]=2021

In [9]:
df0

    year     car_name             sub_name quentity
0   2017        Hatch               Cooper    1,248
1   2017        Hatch     Cooper five-door    1,245
2   2017        Hatch             Cooper D      892
3   2017        Hatch   Cooper D five-door      887
4   2017        Hatch    John Cooper Works      243
5   2017        Hatch             Cooper S      202
6   2017        Hatch   Cooper S five-door      162
7   2017        Hatch            Cooper SD       69
8   2017        Hatch  Cooper SD five-door       55
9   2017        Hatch  Cooper SD five-door       55
10  2017   Countryman        Cooper D ALL4    1,289
11  2017   Countryman             Cooper D      877
12  2017   Countryman       Cooper SD ALL4      114
13  2017   Countryman       Cooper SD ALL4      114
14  2017      Clubman           1.5 Cooper    1,010
15  2017      Clubman         2.0 Cooper D      991
16  2017      Clubman         2.0 Cooper S      207
17  2017      Clubman        2.0 Cooper SD       19
18  2017      Clubman        2.0 Cooper SD       19
19  2017  Convertible             Cooper S      223
20  2017  Convertible               Cooper      182
21  2017  Convertible               Cooper      182
22  2017   Countryman        Cooper D ALL4       97
23  2017   Countryman        Cooper D ALL4       97

In [10]:
df1

    year     car_name                sub_name quentity
0   2018        Hatch        Cooper five-door    1,530
1   2018        Hatch                  Cooper    1,302
2   2018        Hatch      Cooper D five-door      580
3   2018        Hatch                Cooper D      470
4   2018        Hatch                Cooper S      242
5   2018        Hatch      Cooper S five-door      203
6   2018        Hatch       John Cooper Works      182
7   2018        Hatch     Cooper SD five-door       31
8   2018        Hatch               Cooper SD       17
9   2018        Hatch               Cooper SD       17
10  2018      Clubman              1.5 Cooper    1,763
11  2018      Clubman            2.0 Cooper D      401
12  2018      Clubman            2.0 Cooper S      208
13  2018      Clubman   2.0 John Cooper Works       32
14  2018      Clubman           2.0 Cooper SD       20
15  2018      Clubman           2.0 Cooper SD       20
16  2018   Countryman           Cooper D ALL4    1,084
17  2018   Countryman                  Cooper      658
18  2018   Countryman                Cooper D      329
19  2018   Countryman           Cooper S ALL4      135
20  2018   Countryman  John Cooper Works ALL4       49
21  2018   Countryman          Cooper SD ALL4       44
22  2018   Countryman          Cooper SD ALL4       44
23  2018  Convertible                Cooper S      235
24  2018  Convertible                  Cooper      210
25  2018  Convertible       John Cooper Works       38
26  2018  Convertible       John Cooper Works       38

In [11]:
df2

    year     car_name                sub_name quentity
0   2019        Hatch        Cooper five-door    2,216
1   2019        Hatch                  Cooper    1,702
2   2019        Hatch                Cooper S      362
3   2019        Hatch      Cooper D five-door      326
4   2019        Hatch                Cooper D      319
5   2019        Hatch      Cooper S five-door      310
6   2019        Hatch       John Cooper Works      197
7   2019        Hatch               Cooper SD       22
8   2019        Hatch     Cooper SD five-door       20
9   2019        Hatch     Cooper SD five-door       20
10  2019   Countryman                  Cooper    1,532
11  2019   Countryman           Cooper D ALL4      508
12  2019   Countryman           Cooper S ALL4      251
13  2019   Countryman  John Cooper Works ALL4       73
14  2019   Countryman          Cooper SD ALL4       37
15  2019   Countryman          Cooper SD ALL4       37
16  2019      Clubman              1.5 Cooper    1,077
17  2019      Clubman            2.0 Cooper D      419
18  2019      Clubman            2.0 Cooper S      192
19  2019      Clubman   2.0 John Cooper Works       39
20  2019      Clubman           2.0 Cooper SD       13
21  2019      Clubman           2.0 Cooper SD       13
22  2019      Clubman                  Cooper      565
23  2019      Clubman                Cooper S       67
24  2019      Clubman                Cooper D       42
25  2019      Clubman               Cooper SD        7
26  2019      Clubman               Cooper SD        7
27  2019  Convertible                Cooper S      230
28  2019  Convertible                  Cooper      136
29  2019  Convertible       John Cooper Works       85
30  2019  Convertible       John Cooper Works       85

In [12]:
df3

Empty DataFrame
Columns: [year]
Index: []

In [13]:
df4

    year     car_name                sub_name quentity
0   2021        Hatch        Cooper five-door    1,100
1   2021        Hatch                  Cooper      738
2   2021        Hatch                Cooper S      131
3   2021        Hatch      Cooper S five-door      129
4   2021        Hatch       John Cooper Works      119
5   2021        Hatch       John Cooper Works      119
6   2021   Countryman                  Cooper      951
7   2021   Countryman           Cooper S ALL4      198
8   2021   Countryman           Cooper D ALL4      169
9   2021   Countryman  John Cooper Works ALL4       61
10  2021   Countryman          Cooper SD ALL4       32
11  2021   Countryman          Cooper SD ALL4       32
12  2021      Clubman                  Cooper      938
13  2021      Clubman                Cooper S      130
14  2021      Clubman                Cooper D       76
15  2021      Clubman  John Cooper Works ALL4       74
16  2021      Clubman               Cooper SD        6
17  2021      Clubman               Cooper SD        6
18  2021  Convertible                Cooper S       62
19  2021  Convertible       John Cooper Works       41
20  2021  Convertible                  Cooper       22
21  2021  Convertible                  Cooper       22

In [14]:
# 합치기
result = pd.concat([df0, df1, df2, df3, df4])
result

    year     car_name            sub_name quentity
0   2017        Hatch              Cooper    1,248
1   2017        Hatch    Cooper five-door    1,245
2   2017        Hatch            Cooper D      892
3   2017        Hatch  Cooper D five-door      887
4   2017        Hatch   John Cooper Works      243
..   ...          ...                 ...      ...
17  2021      Clubman           Cooper SD        6
18  2021  Convertible            Cooper S       62
19  2021  Convertible   John Cooper Works       41
20  2021  Convertible              Cooper       22
21  2021  Convertible              Cooper       22

[104 rows x 4 columns]

In [15]:
result.to_csv("Mini2017_2021.csv")